* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.75s ease-out;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin: 0 auto;
    z-index: 999;
}

.card {
    transition: all 0.75s;
    height: 350px;
    max-width: 400px;
    border-radius: 30px;
    padding: 2vh 17.5%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-image: url("../../assets/bg1.png");  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9999;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.name img {
    z-index: 2;
    transition: all 0.75s ease-out;
}

.card.has-transform {
    transition: all 100ms linear;
}

.name img.has-transform {
    transform: translateZ(200px) rotateZ(0deg);
}

.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 2s ease-out infinite;
}


@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.container:hover .zoom-in-zoom-out,
.card:hover .zoom-in-zoom-out {
    animation: unset !important;
}